.packages-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background-color: lavender;
    margin: 0;
    width: 200vh;


    
}

.trip-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: lavender;
    width: 200vh;
    margin: 0;
}

.heads{
    font-size: 40px;
}

@media screen and (max-width : 1050px){
    .packages-details{
        width: 72vh;
    }

    .trip-heading{
        width: 72vh;
    }

    
}

@media screen and (max-width : 600px){
    .packages-details{
        width: 100vh;
    }

    .trip-heading{
        width: 100vh;
    }


    
}

